*{
    box-sizing: border-box;
}
body{
    margin:0;
    overflow:hidden;
}

video{
    width:100vw;
    height:100vh;
    background-color: black;
}
button {
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    cursor:pointer;
}
#record{
    position: fixed;
    right: 1rem;
    top: 12rem;
}
#capture{
    position: fixed;
    right: 1rem;
    top: 21rem;
}

@keyframes shrinkDownUp{
    0%{
        transform:scale(1);
    }
    50%{
        transform: scale(2);
    }
    100%{
        transform : scale(1)
    }
    
}
