*{
    box-sizing: border-box;
}
body{
    margin:0;
    overflow:hidden;
}

video{
    width:100vw;
    height:100vh;
    background-color: black;
}
button {
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    cursor:pointer;
}
#record{
    position: fixed;
    right: 3rem;
    top: 12rem;
}
#capture{
    position: fixed;
    right: 3rem;
    top: 21rem;
}
button{
  background: black;
  border: 7px solid white;
  
}
button span{
    height: 67%;
    width: 78%;
    border-radius:50%;
    display:inline-block;
    /* background-color: transparent; */

}
#record span{
    background-color: red;
}
#capture span{
    background-color: aliceblue;
}
.capture-animation{
    animation: shrinkDownUp;
    animation-duration: 1s;

}
.record-animation{
    animation: shrinkDownUp;
    animation-duration: 0.7s;
    animation-iteration-count:infinite;

}
@keyframes shrinkDownUp{
    0%{
        transform:scale(1);
    }
    50%{
        transform: scale(0.5);
    }
    100%{
        transform : scale(1)
    }
    
}
